.page_content
	.contents_content
		%h2= "Contents"
		
		.contents_items
			- for page in @pages
				.contents_item
					%a{:href => "/page/#{page.slug}"}= page.title
			- if @can_edit
				%a{:href => "/page/create"}= "New page"