.cover_title
	%a{:href => "/contents"}= SiteConfig.title

.cover_content
	.cover_image
		%a{:href => "/contents"}="<img src='/images/heart.jpg' width=191 height=346 border=0 />"
		
	.cover_sub_title
		%a{:href => "/contents"}= "A practical and impractical guide"