.cover_title
	%a{:href => "/contents"}= SiteConfig.title

.cover_content
	.cover_image
		%a{:href => "/contents"}="<img src='/images/heart.jpg' border=0 />"
		
	.cover_sub_title
		%a{:href => "/contents"}= "A practical and impractical guide"